<ion-view view-title="Tâches actives">
  <ion-content class="SeeTodo">
    <form ng-submit="addTodo()">
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="Ce qui est à faire" ng-model="newTodo.title">
      </label>
    </form>
    <ion-slide-box show-pager="false" ng-repeat="todo in todos | orderBy : '-date' | filter: { delete: false, activate: true }">
      <ion-slide class="main-slide">
        <button class="button button-small ion-checkmark" ng-class="{'button-balanced': todo.activate, 'button-balanced-100': !todo.activate}" ng-click="switchTodo(todo)"></button>
        <p ng-class="{'inactive': !todo.activate}">{{todo.title}}</p>
        <div class="div_color button-{{todo.color}}"></div>
      </ion-slide>
      <ion-slide class="edit-slide">
        <button class="button button-small button-positive" ng-click="showDetailsPopup(todo)">Détails</button>
        <button class="button button-small button-calm" ng-click="showEditPopup(todo)">Editer</button>
        <button class="button button-small button-assertive" ng-click="deleteTodo(todo)">Archiver</button>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
