<ion-view view-title="SeeTodo">
  <ion-content class="SeeTodo">
    <form ng-submit="addTodo()">
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="Ce qui est à faire" ng-model="newTodo.title">
      </label>
    </form>
    <ks-swiper-container ng-repeat="todo in todos | orderBy : $index | filter: { delete: false }" loop="true" swiper="swiper" on-ready="onReadySwiper(swiper)">
        <ks-swiper-slide class="swiper-slide main-slide">
          <button class="button button-small ion-checkmark" ng-class="{'button-balanced': todo.activate, 'button-balanced-100': !todo.activate}" ng-click="switchTodo(todo)"></button>
          <p ng-class="{'inactive': !todo.activate}">{{todo.title}}</p>
        </ks-swiper-slide>
        <ks-swiper-slide class="swiper-slide edit-slide">
          <button class="button button-small button-positive">Détails</button>
          <button class="button button-small button-calm" ng-click="showPopup(todo)">Editer</button>
          <button class="button button-small button-assertive" ng-click="deleteTodo(todo)">Archiver</button>
        </ks-swiper-slide>
    </ks-swiper-container>
  </ion-content>
</ion-view>
