<ion-view view-title="SeeTodo">
  <ion-content class="padding SeeTodo">
    <form ng-submit="addTodo()">
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="Ce qui est à faire" ng-model="newTodo.title">
      </label>
    </form>
    <ks-swiper-container class="list" ng-repeat="todo in todos track by $index" swiper="swiper" on-ready="onReadySwiper(swiper)">
        <ks-swiper-slide class="swiper-slide item">{{todo.title}}</ks-swiper-slide>
        <ks-swiper-slide class="swiper-slide item">"Test"</ks-swiper-slide>
    </ks-swiper-container>
  </ion-content>
</ion-view>
