<ion-view view-title="SeeTodo">
  <ion-content class="padding SeeTodo">
    <form ng-submit="addTodo()">
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="Ce qui est à faire" ng-model="newTodo.title">
      </label>
    </form>
    <ion-slides class="list" options="options" slider="data.slider">
      <ion-slide-page class="item" ng-repeat="todo in todos track by $index">
        {{todo.title}}
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
