<ion-side-menus>
  <ion-side-menu-content>

    <!--HEADER-->
    <ion-nav-bar class="bar bar-header bar-balanced">
      <div class="buttons buttons-left header-item">
        <span class="left-buttons">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </span>
      </div>
    </ion-nav-bar>
    <!--CONTENT-->
    <ion-nav-view name="menuContent"></ion-nav-view>
    <!--FOOTER-->
    <ion-footer-bar class="bar bar-footer bar-balanced">
      <div class="buttons buttons-right footer-item">
        <button id="fab_seemy" class="button button-balanced-100 button-fab">
          <img src="img/Logo-600.png"/>
        </button>
      </div>
    </ion-footer-bar>
  </ion-side-menu-content>

  <!--MENU-->
  <ion-side-menu side="left">
    <ion-header-bar class="expanded bar bar-header">
      <h2>Filtres</h2>
    </ion-header-bar>
    <ion-content class="has-expanded-header">
      <ion-list>
        <ion-item menu-close href="#/app/main">
          Tous
        </ion-item>
        <ion-item menu-close href="#/app/main">
          Actifs
        </ion-item>
        <ion-item menu-close href="#/app/main">
          Effectués
        </ion-item>
        <ion-item menu-close href="#/app/main">
          Suprimés
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
