<label class="item item-input item-floating-label">
  <input type="text" ng-model="todo.title" required>
</label>
<label class="item item-input item-floating-label">
  <input type="text" placeholder="Déscription de la tâche" ng-model="todo.description">
</label>
<div class="buttons_list">
  <button class="button button-small button-positive"></button>
  <button class="button button-small button-calm"></button>
  <button class="button button-small button-royal"></button>
  <button class="button button-small button-balanced"></button>
  <button class="button button-small button-energized"></button>
  <button class="button button-small button-assertive"></button>
</div>
