<label class="item item-input item-floating-label">
  <input type="text" ng-model="todo.title" required>
</label>
<label class="item item-input item-floating-label">
  <input type="text" placeholder="Déscription de la tâche" ng-model="todo.description">
</label>
<div class="buttons_list">
  <button class="button button-small button-positive-100" ng-class="{'active button-positive': todo.color === 'positive'}" ng-click="todo.color = 'positive'"></button>
  <button class="button button-small button-calm-100" ng-class="{'active button-calm': todo.color === 'calm'}" ng-click="todo.color = 'calm'"></button>
  <button class="button button-small button-royal-100" ng-class="{'active button-royal': todo.color === 'royal'}" ng-click="todo.color = 'royal'"></button>
  <button class="button button-small button-balanced-100" ng-class="{'active button-balanced': todo.color === 'balanced'}" ng-click="todo.color = 'balanced'"></button>
  <button class="button button-small button-energized-100" ng-class="{'active button-energized': todo.color === 'energized'}" ng-click="todo.color = 'energized'"></button>
  <button class="button button-small button-assertive-100" ng-class="{'active button-assertive': todo.color === 'assertive'}" ng-click="todo.color = 'assertive'"></button>
</div>
