@mixin align-items($value) {
  -webkit-box-align: $value;
  -ms-flex-align: $value;
  -ms-grid-row-align: $value;
  align-items: $value;
}

@mixin justify-content($value) {
  -webkit-box-pack: $value;
  -ms-flex-pack: $value;
  justify-content: $value;
}

body {
  font-size: 100%;
  .bar,
  .bar .buttons {
    z-index: 11;
  }
  .bar-header,
  .bar-header .buttons {
    position: initial;
  }
  ion-header-bar {
    @include align-items(center);
    @include justify-content(center);
  }
  .button {
    img {
      vertical-align: middle;
      width: 90%;
    }
  }
  .bar-footer .buttons-right .button-fab:first-child {
    right: 75px;
  }
  .popup-container .popup {
    label {
      margin: 10px 0;
    }
    button {
      margin: 10px;
    }
    .buttons_list {
      @include align-items(center);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .buttons_list button {
      margin: 10px 2px 0;
      width: 36px;
    }
    img {
      border-radius: 0;
      height: 30px;
      width: 30px;
    }
    .item-avatar {
      padding-left: 60px;
    }
    width: auto;
  }
}

.SeeTodo {
  padding: 0 10px;
  .item-input,
  ks-swiper-container:nth-child(2) {
    display: block;
    margin-top: 5%;
  }
  ks-swiper-container:nth-child(2) .swiper-slide {
    border-top-width: 1px;
  }
  .swiper-slide {
    @include align-items(center);
    border-color: #ddd;
    border-style: solid;
    border-bottom-width: 1px;
    color: #444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    button {
      height: 30px;
    }
  }
  .main-slide {
    p {
      font-size: 4.5vmin;
      line-height: 1.1;
      margin: 0 0 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 75%;
    }
    button {
      font-size: 3.5vmin;
      width: 40px;
    }
    button::before {
      left: 0;
      position: absolute;
      right: 0;
      top: 28%;
    }
    .div_color {
      height: 30px;
      position: absolute;
      right: 15px;
      top: 17px;
      width: 30px;
    }
  }
  .edit-slide {
    @include justify-content(space-around);
    padding: 16px 0;
    button {
      margin: 1px;
      padding: 0 1rem;
    }
  }
  .inactive {
    color: #d9d9d9;
    text-decoration: line-through;
  }
}
