@mixin align-items($value) {
  -webkit-box-align: $value;
  -ms-flex-align: $value;
  -ms-grid-row-align: $value;
  align-items: $value;
}

@mixin justify-content($value) {
  -webkit-box-pack: $value;
  -ms-flex-pack: $value;
  justify-content: $value;
}

body {
  .bar,
  .bar .buttons {
    z-index: 11;
  }
  .bar-header,
  .bar-header .buttons {
    position: initial;
  }
  .blank {
    height: 50px;
  }
  .button img {
    width: 90%;
  }
}

.popup-container .popup {
  label {
    margin: 10px 0;
  }
  button {
    font-size: 3.4vmin;
    margin: 10px;
  }
  .buttons_list {
    @include justify-content(space-around);
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .buttons_list button {
    margin: 10px 2px 0;
    max-width: 36px;
  }
  img {
    border-radius: 0;
    height: 30px;
    width: 30px;
  }
  .item-avatar {
    padding-left: 60px;
  }
  width: auto !important;
}

ion-side-menu {
  .bar {
    @include align-items(center);
    @include justify-content(center);
    background-image: none;
  }
  h2 {
    color: white;
    margin: 0;
  }
  .has-expanded-header {
    background-color: #e0e0e0;
  }
  .item-content .bold {
    font-weight: bold;
  }
}

.SeeTodo {
  padding: 0 10px;
  .slider {
    margin: 0;
  }
  .item-input,
  .slider:first-child {
    display: block;
    margin-top: 20px;
  }
  .slider:nth-child(2) ion-slide {
    border-top-width: 1px;
  }
  ion-slide {
    @include align-items(center);
    border-color: #ddd;
    border-style: solid;
    border-width: 0 0 1px;
    color: #444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px;
    white-space: nowrap;
    button {
      height: 30px;
    }
  }
  .main-slide {
    min-height: 66px;
    p {
      font-size: 4.5vmin;
      line-height: 1.1;
      margin: 0 0 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 75%;
    }
    button::before {
      left: 0;
      position: absolute;
      right: 0;
      top: 28%;
    }
    .div_color {
      height: 30px;
      position: absolute;
      right: 16px;
      top: 18px;
      width: 30px;
    }
  }
  .edit-slide {
    @include justify-content(space-around);
    max-height: 66px;
    padding: 16px 0;
    button {
      font-size: 3.4vmin;
      margin: 1px;
      padding: 0 0.8rem;
    }
  }
  .inactive {
    color: #d9d9d9;
    text-decoration: line-through;
  }
}
